.app {
    // app主视图属性
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container {
        // container属性
        width: 80%;
        min-width: 1000px;
        height: 90%;
        background-color: antiquewhite;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;

        &>div{// 左右两个面板公共属性
            height: 100%;
            border-radius: 10px;
            background-color: ghostwhite;
        }
        
        .tools-board {// 工具(左)面板属性
            width: 190px;
            min-width: 190px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            &>div{
                width: 90%;
                height: 25%;
                display: flex;
                flex-direction: column;

                .title{
                    font-size: 1.3em;
                }
                .options{
                    width: 100%;
                    height: calc(100% - 1.3em - 20px);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: space-evenly;

                    .option{
                        width: 95%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &.actived,&:hover{
                            span,label{
                                color: #4A98F7;
                            }
                            img{
                                filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
                            }
                        }

                        span,label{
                            margin: 0 5px;
                        }
                    }
                }
            }

            .tools_brush{
                margin-top: 20px;
                height: 30%;
            }

            .tools_tool{
                height: 25%;

                .options{
                    .thickness{
                        display: block;

                        span{
                            margin: 0;
                        }

                        input{
                            margin-top: 4px;
                        }
                    }
                }
            }

            .tools_color{//颜色选项卡
                height: 15%;
                // flex-direction: row;
                justify-content: center;

                .options{//颜色选择选项卡样式
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .option{//颜色选择器属性
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        position: relative;
                        

                        &:nth-child(1){//白色选择器特殊处理
                            border: 1px solid #bfbfbf;

                            &.color_actived::before,&:hover::before{
                                border-color: #ccc;
                                height: 15px;
                                width: 15px;
                            }
                        }

                        &.color_actived::before,&:hover::before{//颜色选择器被选中和hover时样式
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            content: '';
                            height: 14px;
                            width: 14px;
                            background-color: inherit;
                            border-radius: inherit;
                            border: 2px solid #fff;
                        }
                    }
                }
                
            }

            .tools_btns{//按钮样式
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-bottom: 25px;
                height: 18%;

                button{
                    height: 35px;
                    background: transparent;
                    border: 1.5px solid #121;
                    color: #626e6e;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover{
                        background-color: rgba($color: #000000, $alpha: 0.1);
                        color: rgb(134, 122, 122);
                        border-color: rgb(197, 192, 192);
                    }
                }
                button:nth-child(2){
                    background-color: rgb(72, 119, 205);
                    border: none;
                    color: white;

                    &:hover{
                        color: #f5eded;
                        background-color: rgb(98, 146, 236);
                    }
                }
            }
        }
        
        .painting-board{// 画布(右)面板属性
            width: calc(100% - 220px);

            .canvas{
                width: 100%;
                height: 100%;
            }
        }
    }
}


